main {
    min-height: 100vh;
}

#info {
    text-align: center;
}

#recipeIngredients {
    list-style-type: square;
}

.recipeList::before {
    content: ' - '
}

.modal {
    height: fit-content;
}